<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onsubmit()" #f="ngForm"> 
            <div class="row">
                <div class="col-sm-4 form-group">
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Description"
                    name="description"
                    ngModel
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <input 
                    type="number" 
                    class="form-control" 
                    placeholder="amount"
                    name="amount"
                    ngModel
                    required >
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">{{editMode ? 'Update':'Add'}}</button>
            </div>
        </form>
    </div>
</div>